@{ 
    Layout = null;
}
<div class="col-md-2">
    <ul style="margin-top:20px">
        <li>@Html.ActionLink("Detect faces", "Index", "Detect")</li>
        <li>@Html.ActionLink("Landmarks", "Landmarks", "Detect")</li>
        <li>@Html.ActionLink("Identify faces", "Identify", "Detect")</li>
        <li>@Html.ActionLink("Emotions", "Emotions", "Detect")</li>
        <li>@Html.ActionLink("Attributes", "Attributes", "Detect")</li>
        <li>@Html.ActionLink("Person groups", "Index", "PersonGroups")</li>
    </ul>   
</div>