<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CognitiveServicesDemo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CognitiveServicesDemo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { Area = (string)null }, new { })</li>
                    <li>@Html.ActionLink("Faces", "Index", "Home", new { Area = "Faces" }, new { })</li>
                    <li>@Html.ActionLink("Computer vision", "Index", "Home", new { Area = "ComputerVision" }, new { })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            @if (ViewBag.LeftMenu != null)
            {
                @Html.Partial((string)ViewBag.LeftMenu)
                <div class="col-md-8">
                    @RenderBody()
                </div>
            }
            else
            {
                <div class="col-md-12">
                    @RenderBody()
                </div>
            }
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - Gunnar Peipman</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
