@model IEnumerable<Person>
@{
    ViewBag.Title = "People";
}

<h2>People</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.PersonGroupId })
</p>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>@item.PersonId</td>
            <td>@item.Name</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = ViewBag.PersonGroupId, personId = item.PersonId }) |
                @Html.ActionLink("Edit", "Edit", new { id = ViewBag.PersonGroupId, personId = item.PersonId }) |
                @Html.ActionLink("Add face", "AddFace", new { id = ViewBag.PersonGroupId, personId = item.PersonId }) |
                @Html.ActionLink("Delete", "Delete", new { id = ViewBag.PersonGroupId, personId = item.PersonId })
            </td>
        </tr>
    }
</table>